<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	<persistence-unit name="JPASample" transaction-type="RESOURCE_LOCAL" >
		<class>domains.Cart</class>
		<class>domains.User</class>
		<class>domains.Order</class>
		<class>domains.Good</class>
	</persistence-unit>
</persistence>